for loop

In [2]:
#it is used for iterating over a sequence (list,tuple,string)

syntax

In [11]:
#for variable in sequence:
    #code to be executed

In [13]:
a=[1,2,3,4,5,6]

In [15]:
for i in a:
    print(i)

1
2
3
4
5
6

sequence

In [18]:
# it is refer to an order collection of elements

In [22]:
fruits=["apple","banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [24]:
#string
word="hello"
#using a for loop to iterate our string
for letter in word:
    print(letter)

h
e
l
l
o

In [30]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(1,10,3):
    print(i)

1
4
7

In [34]:
#start #stop #jump

In [36]:
a=[]
for i in a:
    print(i)
else:
    print("loop is finished")

loop is finished

In [38]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [42]:
name='raj'
print(f"my name is {name}")

my name is raj

In [46]:
for i in range(3):
    print(i)
    print("this will be 1ss")
    print("this is second")
    print("this is third")

0
this will be 1ss
this is second
this is third
1
this will be 1ss
this is second
this is third
2
this will be 1ss
this is second
this is third

In [48]:
st="hello"
n=len(st)
for i in range(n):
    print(i,"=",st[i])

0 = h
1 = e
2 = l
3 = l
4 = o

In [52]:
#break:- it is used to exit the loop

In [59]:
for number in range(10):
    if number==5:
        break
    print(number)
print("for loop has been stopped")

0
1
2
3
4
for loop has been stopped

#continue

In [68]:
for number in range(5):
    if number == 2:
        continue
    print(number)

0
1
3
4

In [70]:
#pass

In [74]:
for number in range(5):
    if number == 3:
        pass
    else:
        print(number)

0
1
2
4

exercise

In [85]:
numbers = [1,2,3,4,5]
target=4
for number in numbers:
    if number == target:
        print(f"number{target}is found")
        break

number4is found