In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\salman\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\salman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
s=pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [4]:
s1=pd.Series([1,2,3],index=['a','b','c'])
print(s1)

a    1
b    2
c    3
dtype: int64

In [6]:
a=pd.array([1,2,3])
a

<IntegerArray>
[1, 2, 3]
Length: 3, dtype: Int64

In [11]:
months=['jan','feb','sept','oct']
sales=[1200,3488,7890,7890]
sales_series=pd.Series(sales,index=months,name='monthly sales(USD)')
print(sales_series)

jan     1200
feb     3488
sept    7890
oct     7890
Name: monthly sales(USD), dtype: int64

In [12]:
data={'name':['sanam','mehram','hezlin'],
      'age':[21,26,20],
      'city':['nelamangala','nai maloom','seoul']}
df=pd.DataFrame(data)
print(df)

     name  age         city
0   sanam   21  nelamangala
1  mehram   26   nai maloom
2  hezlin   20        seoul

In [14]:
data={'name':['sanam','mehram','hezlin'],
      'age':[21,26,20],
      'city':['nelamangala','nai maloom','seoul']}
df=pd.DataFrame(data)
print(df)
print("after adding new column")
df['email']=['sanam@gamil.com','meh@gmail.com','hez@gmail.com']
df['phone number']=[1111111118,1111111119,1111111110]
print(df)

     name  age         city
0   sanam   21  nelamangala
1  mehram   26   nai maloom
2  hezlin   20        seoul
after adding new column
     name  age         city            email  phone number
0   sanam   21  nelamangala  sanam@gamil.com    1111111118
1  mehram   26   nai maloom    meh@gmail.com    1111111119
2  hezlin   20        seoul    hez@gmail.com    1111111110