In [3]:
#1 Using input() function take one number from the user and using ternary operators

num=int(input("enter a number"))
if(num%2==0):
    print("the number", num, "is even")
else:
    print("the number",num," is odd")

enter a number 8

the number 8 is even

In [7]:
#2 Using input function take two number and then swap the number

num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
print("before swapping")
print("num1:",num1)
print("num2:",num2)
temp=num1
num1=num2
num2=temp
print("after swapping")
print("num1:",num1)
print("num2:",num2)

enter the first number 2
enter the second number 4

before swapping
num1: 2
num2: 4
after swapping
num1: 4
num2: 2

In [8]:
#3  Write a Program to Convert Kilometers to Miles

one_km=0.62
km=23
miles=km*one_km
miles

14.26

In [10]:
#4 Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

rupees=200
years=5
percent=5
Simple_Interest=(rupees*years*percent)/100
print("simple interest is:",Simple_Interest)

simple interest is: 50.0